# Quick Demo

[compressed-sample.webm](https://github.com/vkottler/runtimepy/assets/15205052/b2593711-1c4f-41a8-9d1d-8c22f1038b12)

Starting up `runtimepy` such that GUI browser is spawned:

![demo webm 1](im/part1-compressed.gif)

A continuation of the previous GIF:

![demo webm 2](im/part2-compressed.gif)

See below, or head directly to [human-written documentation](md/main.md) for
an explanation.

{{python_readme_header_md}}

See [human-written documentation](md/main.md) for this project.
{% if "help" in global %}

# Command-line Options

```
$ {{" ".join(help["args"])}}

{{help["stdout"]}}
```
{% endif %}

## Sub-command Options
{% for command in package["commands"] %}

### `{{command["name"]}}`
{% set help_data = global["help-" + command["name"]] %}

```
$ {{" ".join(help_data["args"])}}

{{help_data["stdout"]}}
```
{% endfor %}

{{python_readme_dep_graph_md}}
